/* Base behaviors */
html{
    scroll-behavior: smooth;
}

.header{
    font-family: Lora;
    padding-bottom: 1%;
}

.desc{
    font-family: Monsterrat;
    font-size: large;
}

.padding-below{
    padding-bottom: 2%
}

.padding-above{
    padding-top: 2%
}

.content{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@font-face{
    font-family: 'Monsterrat';
    src: url('Montserrat-Regular.ttf')
}

@font-face{
    font-family: 'Lora';
    src: url('Lora-Regular.ttf')
}


/* Index styling */
.left-sidebar{
    box-shadow: 8px 8px 10px #443e40;;
    background-color: #8b7d7d;
    
}

.main-content-1{
    background-color: #fff0f5;
}